.container {
    text-align: center;
    margin-top: 50px;
}
.sequence {
    display: inline-block;
    width: 215px;
    margin: 10px;
    border: 1px solid rgb(151, 151, 151);
    padding: 3px;
}
.wrapper1{
    height: 315px;
    background-color: black;
    color: white;
}
.wrapper2{
    background-color: rgb(230, 230, 230);
    color: rgb(138, 138, 138);
    margin: 0px;
    padding-top: 5px;
}
.wrapper3{
    margin: 0px;
    padding-top: 140px;
    font-size: 25px;
}