.container{
    width: 650px;
    background-color: greenyellow;
    margin: 0 auto;
    padding: 10px 20px 15px 20px;
}
fieldset{
    border: 3.5px double black;
    background-color: lightgreen;
    width: 600px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 20px;
}
legend{
    text-align: center;
    font-size: 20px;
}
tr td:first-child label{
    display: list-item;
    width: 200px;
    padding-left: 6px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 30px;
}
tr td:first-child{
    vertical-align: top;
}
.error{
    color: red;
}